<div class="container-window">
    <app-window-body [name]="'Analyze'" (deleteMeEvent)="destroyBody()" [innerWidth]="'1000px'">
        <div class="container-feature-info">
            <!-- div.row>div.col-6*4>div.block-common-info>div.header+div.body>div.row>div.col-6*4>div.title+div.value -->
            <div class="row">
                <div class="col-4">
                    <div class="block-common-info">
                        <div class="header">Customers</div>
                        <div class="body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="title">Count</div>
                                    <div class="value">{{customersCount}}</div>
                                </div>
                                <div class="col-6">
                                    <div class="title">Avg Sales Points</div>
                                    <div class="value">{{avgSalePointsOnCustomer}}</div>
                                </div>
                                <div class="col-6">
                                    <div class="title">Avg product count</div>
                                    <div class="value">{{avgProductCountOnCustomer}}</div>
                                </div>
                                <div class="col-6">
                                    <div class="title">Avg sum on customer</div>
                                    <div class="value">{{avgSumOnCustomer}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="footer"></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="block-common-info">
                        <div class="header">Sales indicators</div>
                        <div class="body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="title">Quantity</div>
                                    <div class="value">{{soldProductsQuantity}}</div>
                                </div>
                                <div class="col-6">
                                    <div class="title">Sum</div>
                                    <div class="value">{{soldProductsSum}}</div>
                                </div>
                                <div class="col-6">
                                    <div class="title">Average Price</div>
                                    <div class="value">{{avgPrice}}</div>
                                </div>
                                <div class="col-6">
                                    <div class="title">Transactions Per Day</div>
                                    <div class="value">{{transactionsPerDay}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="block-common-info">
                        <div class="header">Top customers by</div>
                        <div class="body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="title">Sum</div>
                                    <div class="value font-size-0-8">{{topBySum}}</div>
                                </div>
                                <div class="col-6">
                                    <div class="title">Quantity</div>
                                    <div class="value font-size-0-8">{{topByProductQuantity}}</div>
                                </div>
                                <div class="col-6">
                                    <div class="title">Sales Points</div>
                                    <div class="value font-size-0-8">{{topBySalesPoints}}</div>
                                </div>
                                <div class="col-6">
                                    <div class="title">Variety of products</div>
                                    <div class="value font-size-0-8">{{topByProductsVariety}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 block-common-info">
                <app-chart [chartType]="'line'" [color]="'DodgerBlue'" [title]="'Sale for the period'" [showAllValues]="true" [seriesName]="'Conventional units'"
                    [graphHeight]="'200px'" [chartItems]="allSalesForYear" [yAxisName]="'Sum'"></app-chart>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="block-common-info">
                        <app-chart [chartType]="'pie'" [graphHeight]="'300px'" 
                        [chartItems]="salesBySaleChannels" 
                        [title]="'Sales by sale channels'"></app-chart>
                    </div>
                </div>
                <div class="col">
                    <div class="block-common-info">
                        <app-chart [chartType]="'bar'" [graphHeight]="'300px'" 
                            [chartItems]="top10BySum" [title]="'Top 10 customers'"
                            [yAxisName]="'Sum, $'"></app-chart>
                    </div>
                </div>
            </div>
            <div class="mt-3 block-common-info">
                <app-datatable [source]="salesByPeriodItems" [showHeader]="true" [settings]="mostComplexServersDatatableSettings"
                    (itemWasSelected)="onDatatableItemSelect($event)">
                </app-datatable>
            </div>
        </div>
    </app-window-body>
</div>