<div class="container-fluid">
  <div class="row first-row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      <!-- <img class="logo" src="../../../assets/images/logo-large.png"> -->
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row second-row">
    <div class="col-md-2 div-dark"></div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div class="man-logo">
            <img src="../../../assets/images/man.png">
          </div>
          <p>Password recovery</p>
          <input type="text" class="form-control" placeholder="Email">
          <!-- <div class="input-group">
            <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
          </div> -->
          <button id="signin_btn" (click)="logIn()" class="btn btn-primary block w-100 m-b">Get password on email</button>
          <br>
          <!-- <div class="forgot-password-div">
                      <a href="#" onclick="showResetPassForm()">Forgot password</a>
                  </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 div-dark"></div>
  </div>
  <div class="row third-row"></div>
