@import "../../../../scss/mixins.scss";

.container-feature-info {
  // height: 87.7vh;
  @include window-body-height;
  overflow-y: auto;
  @include color-main-window;
}

.cost-reduction {
  display: flex;
  .fa-dollar {
    font-size: 1.25rem;
  }
  // position: relative;
  // top: -1.75rem;
  left: 15rem;
  width: 25rem;
  font-weight: 700;
  padding-left:71px;

  .value{
    font-weight:900 !important;
    margin-left:7px;
  }
}

// .view-switch {
//   // position: absolute;
//   // top: 3rem;
//   // right: 1em;
//   // z-index: 9999;
// }
@mixin btn-scroll {
  border: none;
  border-radius: 50%;
  position: relative;
  top: 5rem;
  opacity: 0.5;
  cursor: pointer;
}
@mixin icon-position {
  position: relative;
  top: 3px;
  color: $DodgerBlue;
}
.btn-left-scroll {
  @include btn-scroll();
  left: 0rem;
  cursor: pointer;
  .left-scroll {
    @include icon-position();
  }
}

.btn-right-scroll {
  @include btn-scroll();
  left: 49.6rem;
  .right-scroll {
    @include icon-position();
  }
  :hover {
    opacity: 1;
  }
}

.btn-left-scroll:hover,
.btn-right-scroll:hover {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 7px;
  height:7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #D8D9DB;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
background: #D8D9DB;
}

.analyzed-table-name{
  font-size: 1rem;
}

.container-slider{
  position: absolute;
  top: 3.2rem;
  right: 0;
}

.justify-content-end{
  justify-content:flex-start;
}

.mr-1{
  font-weight:700;
}

.cost-value{
  font-weight:800 !important;
  color:rgb(0,0,0);
  font-size:15px;
  margin-left:10px;
}

.chart-view{
  width: 100%;
  overflow-x: hidden;
}

.operation-divider{
  height: 1rem;
}
