<div class="container-window">
  <app-window-body *ngIf="showHome" [name]="'Home'" (deleteMeEvent)="destroyBody()" [innerWidth]="'1000px'">
    <div class="container-feature-info">
        <div>
            In the conditions of informatization and implementation of information technologies in all spheres of society life, it is important to create information systems, in particular, web sites, and their representation on the Internet, which will determine the transition of the country to a higher level of development. Creating websites is an important element of the communications policy of institutions, it allows you to solve a range of tasks, and attract additional attention to the target audience.
        </div>
        <div>So, the main purpose for creating site is <b>analyze sales of products</b>. On the site you can get a result of analysis and make decision for your next sales/marketing strategy</div>
    </div>
  </app-window-body>
</div>
