@import "../../../scss/mixins.scss";

.container-feature-info {
  // height: 87.7vh;
  @include window-body-height;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  @include color-main-window;
}
