@import "../../../scss/mixins.scss";
@import "../../../scss/colors.scss";

.container-feature-info {
  @include window-body-height;
  overflow-y: auto;
  padding: 20px 20px 20px 25px;
  @include color-main-window;
}

.container-window {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  height: 100%;
}

.forgot-password-div{
  width:100%;
  max-width:250px;
  text-align:left;
  margin-top:10px;
}

.recover{
  color: #096496 !important;
  cursor: pointer;
  font-weight:600;
  text-decoration: underline;
}
.recover:hover{
  color: black;
}

.avatar{
  width: 150px;
}

.user-info {
  .row{
    .edit-btn{
      visibility: hidden;
    }
    // .form-control{
    //   padding: 0.25rem 0.75rem;
    // }
  }
  .row:hover {
    .edit-btn{
      visibility: visible;
    }
  }
  .text-name{
    color: #15A9FB;
  }
}

.remove-btn{
  margin-top: 26rem;
}

.box-container{
  border: 1px solid #ccd2ec;
  .score-edit{
    margin-top: 0.75rem;
  }
  .box-name{
    font-size: 14px;
    font-weight: bold;
  }
}

.label-with-margin {
  margin-right: 7px;
  margin-left: 0px;
  display: inline;
  font-size: 13px;
}
$color1: #f4f4f4;
$color2: #3197ee;
.radio {
  //  margin: 0.35rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      font-size: 12px;
      &:before {
        content: "";
        background: $color1;
        border-radius: 100%;
        border: 1px solid #e3e1e8;
        display: inline-block;
        width: 1em;
        height: 1em;
        position: relative;
        // top: -0.15em;
        margin-right: 0.2em;
        // vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $color2;
          box-shadow: inset 0 0 0 3px $color1;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }
  }
}