<div class="container-window">
    <app-window-body [name]="'Services'" (deleteMeEvent)="destroyBody()" [innerWidth]="'1000px'">
      <div class="container-feature-info">
          <div class="list-services">
              The site provides the following services:
            <ul>
              <li>Computing work</li>
              <li>Creation of economic models</li>
              <li>Creation of automated templates</li>
              <li>Creating macros</li>
              <li>Creation of analytical reports based on data</li>
              <li>Visualization of data</li>
              <li>Analysis of financial statements</li>
              <li>Analysis of the enterprise activity</li>
              <li>Construction of the KPI system</li>
              <li>An analysis of the work of employees</li>
            </ul>
          </div>
      </div>
    </app-window-body>
  </div>
  