$OxfordBlueLight: #334250;
$CadetBlue: #A6B0C0;
$OxfordBlueDark: #2E3B47;
$MineShaftDark: #222222;
$MineShaftLight: #2A2A2A;
$Tundora: #404040;
$TundoraBorder: #464646;
$White: #ffffff;
$Calypso:#275C7B; //azure-body-background
$Crimson: #E81123;
$Concrete: #F3F3F3;
$Thunderbird: #B71824;
$Silver: #BABABA;
$Gallery: #EEEEEE;
$CalypsoLight: #36718D;
$Porcelain: #ECEEEF;
$Abbey: #55595C;
$Alto: #dddddd;
$Paradiso: #2E7A76;
$Tarawera: #063956; //custom-body-background
$EbonyClayDark: #242B33;
$EbonyClayLight: #282F40;
$EbonyClayDivider: #242D38;
$BonJour: #E4DFDF;
$Mercury: #E8E8E8;
$DodgerBlue: #15A9FB;
$SantasGray: #A4A4A5;
$JaggedIce: #BDDEE6;
$Shark: #181D21;
$Valencia: #D34E2C;
$Foam: #E1F4FD;
$YellowOrange:#FEB532;
$Alabaster: #F7F7F7;
$Iron: #DDDEE1;
$Bombay: #B7B9BD;
$Porcelain: #E8E9EA;
$CornflowerBlue: #6195ED;
$Black: #000000;
$PeriwinkleGray: #CBD0E8;
$Atlantis: #B3D439;
